{
  "singleQuote": true,
  "bracketSpacing": false,
  "svelteSortOrder" : "scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteBracketNewLine": false,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": true
}
